@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

body {
  height: 100vh;
  margin: 0;
  overflow: hidden;
  font-family: Roboto, sans-serif;

  display: flex;
  flex-direction: column;
}

img {
  width: 600px;
}

button {
  font-family: Roboto, sans-serif;
  border: none;
  border-radius: 8px;
  background: #eee;

  padding: 8px;
}

input {
  border: 1px solid #ddd;
  border-radius: 16px;
  padding: 8px 24px;
  width: 400px;
}

ul {
  list-style: none;
  padding-left: 0; 
}

a {
  color: rgb(101, 101, 101);
  text-decoration: none;
}

.footer {
  background-color: #eeeeee;
}

.header, .footer {
  display: flex;
  justify-content: space-between;
  padding: 0px 16px;

  flex: 0, 0, auto;
}

.left-links, .right-links {
  display: flex;
  gap: 16px;
}

.content {
  flex: 1 0 auto;
  align-self: center;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 16px;
}