/* Add CSS Styling */

.odd {
    background-color: pink;
    font-family: Verdana, "DejaVu Sans", sans-serif;
}

.larger {
    font-size: 24px;
}

#two {
    color: blue;
    font-size: 36px;
}

#four {
    font-weight: bold;
    font-size: 24px;
    background-color: lightgreen;
}